<% provide(:title, "Edit user") %>
<h1>Редагування профайла</h1>

<%= gravatar_for @user %>
<a href="http://gravatar.com/emails">Змiнити фото</a>
<br>
<br>
<br>
<br>

<%= form_for(@user) do |f| %>
    <%= render 'fields', f: f %>
    <%= f.submit "Зберегти змiни", class: "btn btn-large btn-primary" %>
<% end %>