<% provide(:title, 'All users') %>
<h1>Всi користувачi</h1>

<%#= will_paginate %>
<div align="center"><%= will_paginate %></div>

<ul class="users">
  <%= render @users %>
</ul>

<div align="center"><%= will_paginate %></div>
<%#= will_paginate %>